{% extends "layout_user.html" %}
{% block title %} Dashboard {% endblock %}
{% load staticfiles %}
{% block content %}
<div class="row">
    <div class="span12 animated rotateInDownLeft">
        <div class="widget widget-nopad">
        <div class="widget-header info"> 
          <h2> TRANSACTION CENTER</h2>
        </div>
        <!-- /widget-header -->
        <div class="widget-content">
          <div class="widget big-stats-container">
            <div class="widget-content">
                        <!-- tab style -->
                        <div class="clearfix tabs-right">
                                <ul class="nav nav-tabs">
                                    <li><a href="#tab-right-suspicious" data-toggle="tab">Suspicious</a></li>
                                    <li><a href="#tab-right-released" data-toggle="tab">Released</a></li>
                                    <li><a href="#tab-right-locked" data-toggle="tab">Locked</a></li>
                                    <li><a href="#tab-right-new" data-toggle="tab">New</a></li>
                                </ul>
                                <div class="tab-content span11">
                                    <div class="tab-pane active animated zoomIn" id="tab-right-new">
                                        <!-- /widget -->
                                        <div class="widget widget-table action-table">
                                          <!-- /widget-header -->
                                          <div class="widget-content">
                                            <table class="table table-striped table-bordered" id="table_vivio">
                                              <thead>
                                                <tr>
                                                    <th class="span3"> Ref No. </th>
                                                  <th class="span3"> Amount</th>
                                                  <th class="span3"> Date </th>
                                                  <th class="td-actions" id="search_id"></th>
                                                </tr>
                                              </thead>  

                                              <tbody>
                                                {% for item in data %}
                                                <tr class="hvr-shrink">
                                                  <td> {{ item.account }} </td>
                                                  <td> R{{ item.amount }} </td>
                                                  
                                                  <td> 2017-{{item.account}} </td>
                                                  <td class="td-actions">
                                                      <a href="#modal_release_{{item.account}}" data-toggle="modal" role="button" class="btn btn-block btn-success" title="Release Transaction">
                                                          <i class="btn-icon-only icon-ok"> </i>
                                                      </a>
                                                      <a href="#modal_lock_{{item.account}}" data-toggle="modal" role="button" class="btn btn-danger btn-block" title="Lock Transaction">
                                                          <i class="btn-icon-only icon-lock"> </i>
                                                      </a>
                                                      <a href="#modal_open_{{item.account}}" data-toggle="modal" role="button" class="btn btn-block btn-warning" title="Open Transaction">
                                                          <i class="btn-icon-only icon-folder-open"> </i>
                                                      </a>
                                                  </td>
                                                </tr>
                                                {% endfor %}
                        
                                              </tbody>
                                            </table>
                                          </div>
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="tab-pane animated zoomIn" id="tab-right-locked">
                                        <!-- /widget -->
                                        <div class="widget widget-table action-table">
                                          <!-- /widget-header -->
                                          <div class="widget-content">
                                            <table class="table table-striped table-bordered" id="table_vivio3">
                                              <thead>
                                                <tr>
                                                  <th class="span3"> Ref No. </th>
                                                  <th class="span3"> Amount</th>
                                                  <th class="span3"> Date </th>
                                                  <th id="search3_id"></th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                              {% for item in data %}
                                              {% if item.status == 1 %}
                                                <tr class="hvr-shrink">
                                                  <td> {{ item.account }} </td>
                                                  <td> R{{ item.amount }} </td>
                                                  <td> 2017-{{item.account}} </td>
                                                  <td class="td-actions">
                                                      <a href="#modal_unlock_{{item.account}}" data-toggle="modal" role="button" class="btn btn-block btn-success" title="Unlock Transaction">
                                                          <i class="btn-icon-only icon-unlock"> </i>
                                                      </a>
                                                      <a href="#modal_open_{{item.account}}" data-toggle="modal" role="button" class="btn btn-block btn-warning" title="Open Transaction">
                                                          <i class="btn-icon-only icon-folder-open"> </i>
                                                      </a>
                                                  </td>
                                                </tr>
                                                {% endif %}
                                                {% endfor %}
                                              </tbody>
                                            </table>
                                          </div>
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="tab-pane animated zoomIn" id="tab-right-suspicious">
                                        <!-- /widget -->
                                        <div class="widget widget-table action-table">
                                          <!-- /widget-header -->
                                          <div class="widget-content">
                                            <table class="table table-striped table-bordered" id="table_vivioj">
                                              <thead>
                                                <tr>
                                                  <th class="span3"> Ref No.</th>
                                                  <th class="span3"> Amount</th>
                                                  <th class="span3"> Date </th>
                                                  <th class="td-actions" id="searchj_id"></th>
                                              </thead>  

                                              <tbody>
                                                {% for item in data %}
                                                {% if item.status == 2 %}
                                                <tr class="hvr-shrink">
                                                  <td> {{ item.account }} </td>
                                                  <td> R{{ item.amount }} </td>
                                                  <td> 2017-{{item.fraud}} </td>
                                                  <td class="td-actions">
                                                      <a href="#modal_open_{{item.account}}" data-toggle="modal" role="button" class="btn btn-block btn-warning" title="Open Transaction">
                                                          <i class="btn-icon-only icon-folder-open"> </i>
                                                      </a>
                                                  </td>
                                                </tr>
                                                {% endif %}
                                                {% endfor %}
                        
                                              </tbody>
                                            </table>
                                          </div>
                                        </div>
                                    </div>
                                    
                                    <div class="tab-pane animated zoomIn" id="tab-right-released">
                                        <!-- /widget -->
                                        <div class="widget widget-table action-table">
                                          <!-- /widget-header -->
                                          <div class="widget-content">
                                            <table class="table table-striped table-bordered" id="table_vivio4">
                                              <thead>
                                                <tr>
                                                  <th class="span3"> Ref No.</th>
                                                  <th class="span3"> Amount</th>
                                                  <th class="span3"> Date </th>
                                                  <th id="search4_id"> </th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                {% for item in data %}
                                                {% if item.status == 3 %}
                                                <tr class="hvr-shrink">
                                                  <td> {{ item.account }} </td>
                                                  <td> R{{ item.amount }} </td>
                                                  <td> 2017-{{item.account}} </td>
                                                  <td class="td-actions">
                                                      <a href="#modal_open_{{item.account}}" data-toggle="modal" role="button" class="btn btn-block btn-warning" title="Open Transaction">
                                                          <i class="btn-icon-only icon-folder-open"> </i>
                                                      </a>
                                                  </td>
                                                </tr>
                                                {% endif %}
                                                {% endfor %}
                                              </tbody>
                                            </table>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            <!-- tab style -->
                        </div>
                        <!-- /widget-content -->
            </div>
          </div>
      </div>

        
        
    </div>
    
    
        
    <div class="tab-pane" id="jscontrols">
        
        <form id="#" class="form-vertical">
            <fieldset>
                <div class="control-group">
                    <div class="controls">
                        {% for item in data %}
                        <div id="modal_release_{{item.account}}" class="modal hide fade animated bounceIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h3 id="myModalLabel">Release Transaction</h3>
                            </div>
                            <div class="modal-body">                                                                                                     
                                <p>Are you sure you want to release this transaction?</p>                                                                                                    
                            </div> 
                            <div class="modal-footer">
                                <button class="btn btn-lg btn-danger" data-dismiss="modal" aria-hidden="true">NO</button>
                                <button class="btn btn-lg btn-primary" onclick="showSuccess()" data-dismiss="modal" aria-hidden="true">yes</button>
                            </div>
                        </div>
                        {% endfor %}
                    </div> <!-- /controls -->	
                </div> <!-- /control-group -->
            </fieldset>
        </form>
        
        <form id="#" class="form-vertical">
            <fieldset>
                <div class="control-group">
                    <div class="controls">
                        {% for item in data %}
                        <div id="modal_open_{{item.account}}" class="modal hide fade animated bounceIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h3 id="myModalLabel">Fraud MAster</h3>
                            </div>
                            <div class="modal-body">     
                                
                                <div class="widget widget-table action-table">
                                          <!-- /widget-header -->
                                          <div class="widget-content">
                                            <table class="table table-striped table-bordered" id="table_vivioj">
                                              <thead>
                                                <tr>
                                                  <th class="span3"> Amount:</th>
                                                  <th class="span3">R</th>
                                                </tr>
                                                <tr>
                                                  <th class="span3 right">Type</th>
                                                  <th class="span3"> hh</th>
                                                </tr>
                                              </thead>
                                            </table>
                                          </div>
                                          <i>
                                              What makes this transaction suspicious? 
                                          </i>
                                        </div>
                                
                            </div> 
                            <div class="modal-footer">
                                <button class="btn btn-lg btn-danger" data-dismiss="modal" aria-hidden="true">CLOSE</button>
                                <button class="btn btn-lg btn-primary">MORE</button>
                            </div>
                        </div>
                        {% endfor %}
                    </div> <!-- /controls -->	
                </div> <!-- /control-group -->
            </fieldset>
        </form>
        
        
        <form id="#" class="form-vertical">
            <fieldset>
                <div class="control-group">
                    <div class="controls">
                        {% for item in data %}
                        <div id="modal_unlock_{{item.account}}" class="modal hide fade animated bounceIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h3 id="myModalLabel"> Unlock Transaction</h3>
                            </div>
                            <div class="modal-body">                                                                                                     
                                <p>Are you sure you want to unlock this transaction?</p>                                                                                                    
                            </div> 
                            <div class="modal-footer">
                                <button class="btn btn-lg btn-danger" data-dismiss="modal" aria-hidden="true">NO</button>
                                <button class="btn btn-lg btn-primary"onclick="showSuccess()" data-dismiss="modal" aria-hidden="true">yes</button>
                            </div>
                        </div>
                        {% endfor %}
                    </div> <!-- /controls -->	
                </div> <!-- /control-group -->
            </fieldset>
        </form>
        
        
        <form id="#" class="form-vertical">
            <fieldset>
                <div class="control-group">
                    <div class="controls">
                        {% for item in data %}
                        <div id="modal_lock_{{item.account}}" class="modal hide fade animated bounceIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h3 id="myModalLabel"> Lock Transaction</h3>
                            </div>
                            <div class="modal-body">                                                                                                     
                                <p>Are you sure you want to lock this transaction?</p>                                                                                                    
                            </div> 
                            <div class="modal-footer">
                                <button class="btn btn-lg btn-warning" data-dismiss="modal" aria-hidden="true">NO</button>
                                <button class="btn btn-lg btn-primary" onclick="showSuccess()" data-dismiss="modal" aria-hidden="true">yes</button>
                            </div>
                        </div>
                        {% endfor %}
                    </div> <!-- /controls -->	
                </div> <!-- /control-group -->
            </fieldset>
        </form>
        
    </div>
</div>

{% endblock %}
{% block extrajs %}

<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/notify.min.js' %}"></script>
<script src="{% static 'js/table_search.js' %}"></script>
<script src="{% static 'js/my_notify.js' %}"></script>

{% endblock %}
