{% extends "layout_demo.html" %}
{% block title %}Demo{% endblock %}
{% load staticfiles %}
{% block extracss %}<link href="{% static 'css/pages/signin_1.css' %}" rel="stylesheet" type="text/css">{% endblock %}
{% block content %}


<div class="row animated rotateInDownLeft" >
    <div class="span12">
        <div class="widget widget-nopad">
        <div class="widget-header info"> 
          <h2> TRANSACTION SIMULATION</h2>
        </div>
        </div>
    </div>

<div class="account-container register">
	
	<div class="content clearfix">
		
		<form action="#" method="post" class=" animated bounceIn ">		
			
			<div class="login-fields">
				
				<div class="field">
					<input type="text" id="accountNo" name="accountNo" value="" placeholder="Transfer to?" class="login" />
				</div> <!-- /field -->
				
				<div class="field">
					<input type="text" id="transferAmount" name="transferAmount" value="" placeholder="How much? R..." class="login" />
				</div> <!-- /field -->
				
			</div> <!-- /login-fields -->
			
			<div class="login-actions">
                            <button class="button btn btn-primary btn-large">Submit</button>
                        </div> <!-- .actions -->
			
		</form>
		
	</div> <!-- /content -->
	
</div> <!-- /account-container -->

</div>
{% endblock %}
{% block extrajs %}
<script src="{% static 'js/signin.js' %}"></script>
{% endblock %}

